.icons-section {
  position: fixed;
  left: 24px;
  bottom: 40px;
  z-index: 99;
  pointer-events: none;
}
.social-icons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 999;
  pointer-events: auto;
}
.social-icons a {
  position: relative;
  display: flex;
  font-size: 24px;
  color: rgba(255,255,255,0.5);
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #fff;
}
.social-icons span {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-button {
  position: absolute;
  z-index: 99;
  display: flex;
  gap: 5px;
  bottom: 40px;
  right: 0;
  width: auto;
  text-wrap: nowrap;
  letter-spacing: 4px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: #5e5e5e;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: left bottom;
  transform: translateX(100%) rotateZ(-90deg);
  pointer-events: auto;
}
.resume-button:hover { color: #fff; }
@media only screen and (min-width: 768px) {
  .resume-button {
    transform: none;
    font-size: 20px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 900px) {
  .social-icons {
    display: flex;
    gap: 20px;
  }
  .social-icons a { font-size: 28px; }
}
